<!DOCTYPE html>
<html>
  <head>
    <title>Jasmine-All Test Runner</title>
    <link rel="stylesheet" href="stylesheets/base.css" />
    <link rel="stylesheet" href="stylesheets/skeleton.css" />
    <link rel="stylesheet" href="stylesheets/layout.css" />
  </head>
  <body>
    <div class="container">

      <h1 class="title sixteen columns clearfix">Jasmine-All</h1>

      <div class="eight columns alpha">
        <p>This is a simple wrapper around <a href="http://pivotal.github.com/jasmine/">Jasmine</a> to allow easy inclution into html pages which can not include their own runner and CSS. The best example is dynamic sites that allow you to write simple HTML and JS docs for experimentation like <a href="http://jsbin.com/">JSBin</a> and <a href="http://jsfiddle.net/">JS Fiddle</a>.</p>

        <p>Here is an <a href="http://jsbin.com/UfadEde/1/edit">example of a JSBin</a> using this wrapper.</p>

        <p>Version: <%= jasmineVersion %></p>

        <p>Source code available: <a href="<%= repo_url %>"><%= repo_url %></a></p>

      <pre><code>&lt;script type="text/javascript" src="http://sukima.github.com/jasmine-all/jasmine-all-min.js"&gt;&lt;/script&gt;</code></pre>
        <h2 id="how-to-use-it">How to use it</h2>

        <p>Simply add the following to your HTML and be on your merry way:</p>

      <pre>
<%- examples[0] %>
      </pre>

        <h4 id="example-1">Example 1</h4>

      <pre>
<%- examples[1] %>
      </pre>

        <h4 id="example-2">Example 2</h4>

        <h4 id="example-3">Example 3</h4>

      </div>

      <div class="seven columns omega offset-by-one">
        <div id="counter"></div>
        <div id="specs"></div>
      </div>

      <pre>
<%- examples[2] %>
      </pre>
    </div>

    <script type="text/javascript" src="jasmine-all.js"></script>
    <script type="text/javascript" src="introduction-specs.js"></script>
    <script type="text/javascript">
      (function() {
        var
          countText   = "Tests will run in... ",
          countdown   = 5,
          counterNode = document.getElementById("counter");

        function tick() {
          if (countdown > 0) {
            counterNode.innerHTML = countText + countdown--;
            return setTimeout(tick, 1000);
          }
          counterNode.innerHTML = "BAM!!!";
          counterNode.className = "done";
          jasmineRunner.run();
        }

        jasmineRunner.noAutoRun();
        jasmineRunner.attachTo(document.getElementById("specs"));

        tick();
      })();
    </script>
  </body>
</html>

<!-- vim:set sw=2 ts=2 et fdm=marker ft=html: -->
